services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    image: yotsurud/mariadb:1.0
    env_file: .env
    environment:
      MARIADB_DATABASE: wordpress
      MARIADB_USER: wpuser 
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      MARIADB_PASSWORD_FILE: /run/secrets/mysql_app_password
    volumes:
      - db_data:/var/lib/mysql
    networks: [inception]
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin --protocol=socket -uroot -p\"$(tr -d '\\n' </run/secrets/mysql_root_password)\" ping --silent"]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 5s
    secrets:
      - mysql_root_password
      - mysql_app_password

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: yotsurud/wordpress:1.0
    env_file: .env
    environment:
      WORDPRESS_DB_HOST: mariadb:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/mysql_app_password
      WP_ADMIN_PASSWORD_FILE: /run/secrets/wp_user1_password
      WP_USER2_PASSWORD_FILE: /run/secrets/wp_user2_password
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - wp_data:/var/www/html
    networks: [inception]
    restart: unless-stopped
    expose:
      - "9000"
    healthcheck:
      test: ["CMD-SHELL", "wp core is-installed --allow-root >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 30s
    secrets:
      - wp_user1_password
      - wp_user2_password
      - mysql_app_password

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: yotsurud/nginx:1.0
    depends_on: [wordpress]
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html:ro
    networks: [inception]
    restart: unless-stopped

volumes:
  db_data: {}
  wp_data: {}

networks:
  inception:
    name: srcs_inception
    driver: bridge

secrets:
  mysql_root_password:
    file: ../secrets/mysql_root_password.txt
  mysql_app_password:
    file: ../secrets/mysql_app_password.txt
  wp_user1_password:
    file: ../secrets/wp_user1_password.txt
  wp_user2_password:
    file: ../secrets/wp_user2_password.txt

