DOMAIN_NAME=

# WordPress
WORDPRESS_DB_HOST=
WORDPRESS_DB_NAME=
WORDPRESS_DB_USER=

WORDPRESS_TABLE_PREFIX=

# Site information
WP_TITLE=
WP_URL=

# admin setting
WP_ADMIN_USER=
WP_ADMIN_EMAIL=

# user setting
WP_USER2_LOGIN=
WP_USER2_EMAIL=
WP_USER2_ROLE=
